#adminmenu, #adminmenuback, #adminmenuwrap {
    background: #110039!important;
}
#adminmenu a {
    color: #00EAD0!important;
}
#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top {
    color: #fff!important;
    background: #096359!important;
}
#wpadminbar {
    color: #333!important;
    background: #110039!important;
}
#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: #00EAD0!important;
}
#adminmenu div.wp-menu-image:before {
    color: #00EAD0!important;
}
#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu {
    background: #6BFFEF!important;
}
#adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a, #adminmenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu a {
    color: #686868!important;
}
#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    color: #fff;
    background-color: #310D86!important;
}
